<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Agenda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-card>

    <ion-list>
      <ion-item>
        <ion-avatar item-start large>
          <img src="assets/img/small_logo.svg">
        </ion-avatar>
        <h2>{{appointment?.workplaceName}}</h2>
        <p>{{appointment?.employeeName}}</p>
      </ion-item>
    </ion-list>

    <ion-card-content>

      <ion-list no-lines>
        <ion-item>
          <ion-icon name="calendar" color="dark-gray" item-left></ion-icon>
          <h2>{{appointment?.date}}</h2>
        </ion-item>

        <ion-item *ngFor="let service of appointment?.serviceNames">
          <ion-icon color="dark-gray" name="cut" item-left></ion-icon>
          <h2>{{service}}</h2>
        </ion-item>

        <ion-item>
          <ion-icon color="dark-gray" name="logo-usd" item-left></ion-icon>
          <h3>{{appointment?.payment}} MXN</h3>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <img src="assets/img/barbershop3_cover.jpg" />

    <ion-card-content>
      <ion-card-title>
        Cita
      </ion-card-title>

      <ion-item text-wrap>
        <ion-icon name="calendar" color="dark-gray" item-left></ion-icon>
        {{appointment?.date.slice(21)}} <br> {{appointment?.date.slice(11,16)}}
      </ion-item>

      <ion-item>
        <ion-icon name="pin" color="dark-gray" item-left></ion-icon>
        {{appointment?.workplaceName}}
      </ion-item>

      <ion-item>
        <ion-icon color="dark-gray" name="cut" item-left></ion-icon>
        <h2 *ngFor="let service of appointment?.serviceNames">{{service}}</h2>

      </ion-item>
      <ion-item>
        <ion-icon color="dark-gray" name="logo-usd" item-left></ion-icon>
        {{appointment?.payment}} MXN
      </ion-item>


    </ion-card-content>

  </ion-card>

</ion-content>