<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Agenda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-card>

    <ion-list>
      <ion-item>
        <ion-avatar item-start large>
          <img src="assets/img/small_logo.svg">
        </ion-avatar>
        <h2>{{appointment?.workplaceName}}</h2>
        <p>{{appointment?.employeeName}}</p>
      </ion-item>
    </ion-list>

    <ion-card-content>

      <ion-list no-lines>
        <ion-item>
          <ion-icon name="calendar" color="dark-gray" item-left></ion-icon>
          <h2>{{appointment?.date}}</h2>
        </ion-item>

        <ion-item *ngFor="let service of appointment?.serviceNames">
          <ion-icon color="dark-gray" name="cut" item-left></ion-icon>
          <h2>{{service}}</h2>
        </ion-item>

        <ion-item>
          <ion-icon color="dark-gray" name="logo-usd" item-left></ion-icon>
          <h3>{{appointment?.payment}} MXN</h3>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <ion-card *ngIf="theresAppointment">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/barber.jpg">
      </ion-avatar>
      <h2>{{appointment?.employeeName}}</h2>
      <p>Barbero</p>
    </ion-item>
    <img src="assets/img/barbershop2_cover.jpg" />

    <ion-card-content>
      <ion-item text-wrap>
        <ion-icon name="calendar" color="dark-gray" item-left></ion-icon>
        {{hour}}
        <br> {{day}}
      </ion-item>

      <ion-item>
        <ion-icon name="pin" color="dark-gray" item-left></ion-icon>
        {{appointment?.workplaceName}}
      </ion-item>

      <ion-item>
        <ion-icon color="dark-gray" name="cut" item-left></ion-icon>
        <h2 *ngFor="let service of appointment?.serviceNames">{{service}}</h2>

      </ion-item>
      <ion-item>
        <ion-icon color="dark-gray" name="logo-usd" item-left></ion-icon>
        {{appointment?.payment}} MXN
      </ion-item>


    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="!theresAppointment">
    <ion-card-header>
      ¡Oh no! ¿Aún no tienes una cita?
    </ion-card-header>
    <ion-card-content>
      Parece que aún no tienes una cita agenda. Haz click en el botón para empezar.
      <button ion-button block (click)="makeAppointment()">Agenda un cita</button>
    </ion-card-content>
    <!-- <img src="assets/img/small_logo.svg">
    <br>
    <h1 text-center>¿Aún no tienes una cita?</h1>
    <br>
    <button ion-button block (click)="makeAppointment()">Agenda un cita</button> -->

  </ion-card>

</ion-content>